/* Import `Google Sans Flex` & `Arvo` fonts */
@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Google+Sans+Flex:opsz,wght@6..144,1..1000&display=swap');

@import 'tailwindcss';
@plugin '@tailwindcss/typography';
@plugin 'fluid-tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
	--default-transition-duration: 300ms;

	--font-sans: 'Google Sans Flex', ui-sans-serif, sans-serif;
	--font-serif: 'Arvo', ui-serif, serif;

	--color-background: var(--color-white);
	--color-surface: var(--color-white);

	--color-foreground: var(--color-gray-600);
	--color-faded: var(--color-gray-400);

	--color-line: var(--color-gray-200);
	--color-shade: rgba(0, 0, 0, 0.25);

	--color-primary-50: var(--color-sky-50);
	--color-primary-100: var(--color-sky-100);
	--color-primary-200: var(--color-sky-200);
	--color-primary-300: var(--color-sky-300);
	--color-primary-400: var(--color-sky-400);
	--color-primary-500: var(--color-sky-500);
	--color-primary-600: var(--color-sky-600);
	--color-primary-700: var(--color-sky-700);
	--color-primary-800: var(--color-sky-800);
	--color-primary-900: var(--color-sky-900);
	--color-primary-950: var(--color-sky-950);

	--color-primary: var(--color-primary-600);
	--color-on-primary: var(--color-white);
}

.dark {
	--color-background: var(--color-gray-950);
	--color-surface: var(--color-gray-900);

	--color-foreground: var(--color-gray-300);
	--color-faded: var(--color-gray-500);

	--color-line: var(--color-gray-700);
	--color-shade: rgba(255, 255, 255, 0.05);

	--color-primary-50: var(--color-cyan-50);
	--color-primary-100: var(--color-cyan-100);
	--color-primary-200: var(--color-cyan-200);
	--color-primary-300: var(--color-cyan-300);
	--color-primary-400: var(--color-cyan-400);
	--color-primary-500: var(--color-cyan-500);
	--color-primary-600: var(--color-cyan-600);
	--color-primary-700: var(--color-cyan-700);
	--color-primary-800: var(--color-cyan-800);
	--color-primary-900: var(--color-cyan-900);
	--color-primary-950: var(--color-cyan-950);
}

@layer base {
	html {
		/* Specify global inheritted styles */
		@apply scroll-smooth font-sans text-foreground;

		/* scroll-pt to solves page section being hidden by navbar on scroll */
		/* @apply fl-scroll-pt-6/0; */

		/* Prevent scrollbar from causing layout shift by reserving the space for it */
		scrollbar-gutter: stable;
	}

	/* Specify body styles (not inheritted) */
	body {
		@apply gradient-background transition-colors;
	}

	/* Specify base styles for all elements */
	*,
	::before,
	::after {
		@apply border-line shadow-shade;
	}

	/* Custom selection styles */
	::selection {
		@apply bg-primary text-on-primary;
	}

	article {
		@apply mx-auto prose max-w-4xl py-12 fl-px-3/6 prose-primary [&_img]:w-full;
	}
}

@utility gradient-background {
	@apply bg-background bg-linear-to-br from-primary-50/50 to-background dark:from-primary-950/15;
}

@utility gradient-surface {
	@apply bg-surface bg-linear-to-br from-primary-50/50 to-surface dark:from-primary-950/15;
}

@utility prose-primary {
	--tw-prose-body: var(--color-foreground);
	--tw-prose-headings: var(--color-primary);
	--tw-prose-lead: var(--color-primary-700);
	--tw-prose-links: var(--color-primary);
	--tw-prose-bold: var(--color-foreground);
	--tw-prose-counters: var(--color-primary-600);
	--tw-prose-bullets: var(--color-foreground);
	--tw-prose-hr: var(--color-faded);
	--tw-prose-quotes: var(--color-faded);
	--tw-prose-quote-borders: var(--color-faded);
	--tw-prose-captions: var(--color-faded);
	--tw-prose-code: var(--color-primary);
	--tw-prose-pre-code: var(--color-yellow-600);
	--tw-prose-pre-bg: var(--color-surface);
	--tw-prose-th-borders: var(--color-primary-200);
	--tw-prose-td-borders: var(--color-faded);
	/* --tw-prose-invert-body: var(--color-primary-200);
	--tw-prose-invert-headings: var(--color-white);
	--tw-prose-invert-lead: var(--color-primary-300);
	--tw-prose-invert-links: var(--color-white);
	--tw-prose-invert-bold: var(--color-white);
	--tw-prose-invert-counters: var(--color-primary-400);
	--tw-prose-invert-bullets: var(--color-primary-600);
	--tw-prose-invert-hr: var(--color-primary-700);
	--tw-prose-invert-quotes: var(--color-primary-100);
	--tw-prose-invert-quote-borders: var(--color-primary-700);
	--tw-prose-invert-captions: var(--color-primary-400);
	--tw-prose-invert-code: var(--color-white);
	--tw-prose-invert-pre-code: var(--color-primary-300);
	--tw-prose-invert-pre-bg: rgb(0 0 0 / 50%);
	--tw-prose-invert-th-borders: var(--color-primary-600);
	--tw-prose-invert-td-borders: var(--color-primary-700); */
}
